* html ,
body{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;

}
.dark {
    background-color: black;
    color: white;
}
.navbar {
    background-color: white;
    padding: 1.4rem 5%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
 .navbar .title {
    color :rgb(233, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 0%;

} 
.navbar .navbar-nav {
    margin-right: auto;
    padding-left: 2rem;
} 

.navbar-nav a { 
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0 1rem;
    text-decoration: none;
}
.navbar .navbar-nav a:hover {
    color: firebrick;
    transition: 0.3s  ease-in-out;
} 
   
.navbar .menu {
    margin-right: 0;
    cursor: pointer;
}
.navbar .menu a {
    justify-content: flex-end;
    color: rgb(82, 82, 82);
    padding: 0 0.5rem;
}
#menu {
    display: none;
}
.navbar .menu a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}
.home {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border-bottom: 10px solid black;
    line-height: 0.6rem;
    
}
.home .content .text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
}
.home .content .text p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 35rem;
    line-height: 1.5rem;
}
.home .content .row {
    display: flex;
    justify-content: center;
    align-items: center;    
}
.home .content .row a {
    display: flex;
    align-items: center;
    color: black;
    background-color: rgb(9, 196, 171);
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
}
.home .content .row a:hover {
    background-color: rgb(0, 126, 109);
    color: white;
    transition: 0.3s ease-in-out;
}
.about {
    display: flex;
    padding: 1.4rem 5%;
    background-color: antiquewhite;
    min-height: 80vh;
    justify-content: space-between;
    border-bottom: 10px solid black;
}
.about .row {
    margin-top: 4rem;
}
.about .row h1{
    font-size: 2.5rem;
    text-align: center;
}
.about .row p{
    font-size: 1.5rem;
    max-width: 60rem;
    text-align: left;
}
.about .row a {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
    text-align: center;  
}
.about .row a:hover {
    color: firebrick;
    transition: 0.3s ease-in-out;
}
.about .row-extra {
    margin-top: 4rem;
}
.about .row-extra h1 {
    font-size: 2.5rem;
    text-align: center;

}
.about .row-extra p {
    font-size: 1.5rem;
    max-width: 40rem;
    text-align: center;
}
.about .row-extra .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;

}
.about .row-extra .project img {
    height: 10rem;
    width: auto;
    padding: 0 1rem;
    padding-bottom: 1rem;
    margin-left: 0px;
}
 .Portofolio {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.6rem;
    background-color: antiquewhite;
    border-bottom: 10px solid black;
}

.Portofolio .row h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
}
.Portofolio .row p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 35rem;
    line-height: 1.5rem;
} 
.Portofolio .btn {
    justify-content: center;
    align-items: center;    
} 
.Portofolio .btn a{
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(9, 196, 171);
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
}
.Portofolio .btn a:hover {
    background-color: rgb(0, 126, 109);
    color: white;
    transition: 0.3s ease-in-out;
}
.contact {
    padding: 6rem 7% 1.4rem;
    background-color: antiquewhite;
}
.contact h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 3rem;
}
.contact .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.contact .row form {
    flex: 0 1 45rem;
    padding: 0.5rem 2rem;
    text-align: center;
    background-color: rgb(199, 199, 199);
}
.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: antiquewhite;
    border: 1px solid black;

}
.contact .row form .input-group input {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    background: none;
    color: rgb(0, 0, 0);
    border: 1px solid #eee;
}
.contact .row form .input-group textarea {
    font-size: 1.7rem;
    width: 100%;
    background: none;
    color: rgb(0, 0, 0);
}
.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #eee;
    background-color: rgb(78, 78, 0);
    cursor: pointer;
}
.contact .row form .btn:hover {
    background-color: yellow;
    color: black;
    transition: 0.3s ease-in-out;
}
footer {
    background-color: rgb(43, 43, 43);
    text-align: center;
    padding: 1rem 0;

    
}
footer .sosial {
    padding: 1rem 0;

}
footer .sosial a{
    color: white;
    margin: 1rem;
}
footer .sosial a:hover {
    color: rgb(247, 231, 86);
}
footer .link {
    padding: 1rem 0;
}
footer .link a{
    color:white;
    font-size: 1rem;
    margin: 0.2rem;
}
footer .link a:hover {
    color: rgb(247, 231, 86);
}
footer .credit a{
    color: white;
}
@media (max-width: 1366px){
    html {
        font-size: 75%;
    }
}
@media (max-width: 768px){
    html {
        font-size: 62%;
    }
    #menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav .active {
        right: 0;
    }
    .navbar .navbar-nav a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.4rem;
        font-size: 2rem;
    }


}
@media (max-width: 450px){
    html {
        font-size: 55%;
    }
}